{% include 'partials/playlist_items.html' %}

<div id="playlist-selection-list" style="max-height: 300px; overflow-y: auto;" hx-swap-oob="true">
    {% include 'partials/playlist_options.html' %}
</div>

{% if error_message %}
<script>
    alert("{{ error_message }}");
</script>
{% endif %}

{% if deleted_id %}
<script>
    (function(){
        var deletedId = "{{ deleted_id }}";
        var currentPath = window.location.pathname;
        var deletedPath = '/playlist/' + deletedId;
        if (currentPath === deletedPath) {
            window.location.href = '/';
        }
    })();
</script>
{% endif %}