<div class="sidebar">
    <div class="logo">
        <h2>MusicPlatform</h2>
    </div>
    
    <nav class="side-nav">
        <ul>
            <li>
                <a href="/" 
                   hx-get="/" 
                   hx-target=".main-content" 
                   hx-select=".main-content" 
                   hx-swap="outerHTML" 
                   hx-push-url="true">
                    <i class="fa-solid fa-house"></i> 首頁
                </a>
            </li>
            <li>
                <a href="/search" 
                   hx-get="/search" 
                   hx-target=".main-content" 
                   hx-select=".main-content" 
                   hx-swap="outerHTML" 
                   hx-push-url="true">
                    <i class="fa-solid fa-magnifying-glass"></i> 搜尋
                </a>
            </li>
            <li><a href="#"><i class="fa-solid fa-book"></i> 你的資料庫</a></li>
        </ul>
    </nav>

    <div class="playlist-section">
        <div class="section-title">播放清單</div>
        <ul class="playlist-list">
            <li>
                    <a href="#" 
                       hx-get="/collection/tracks" 
                       hx-target=".main-content" 
                       hx-select=".main-content" 
                       hx-swap="outerHTML" 
                       hx-push-url="true"
                       style="color: #b3b3b3; text-decoration: none; display: flex; align-items: center; gap: 12px;">
                       
                       <div style="width: 24px; height: 24px; background: linear-gradient(135deg, #450af5, #c4efd9); display: flex; align-items: center; justify-content: center; border-radius: 2px;">
                           <i class="fa-solid fa-heart" style="font-size: 12px; color: white;"></i>
                       </div>
                       <span>已按讚的歌曲</span>
                    </a>
                </li>
            </ul>
    </div>
</div>